* {
  box-sizing: border-box;
}

.homepage-header {
  background-color: black;
  height: 8vh;
}

p, .email > span, .left-phone {
  color: white;
}

.homepage-top {
  display: flex;
  justify-content: space-between;
}

.left-logo {
  display: flex;
  justify-content: flex-start;
  margin-left: 50px;
  margin-top: 3px;
}

.email {
  margin-left: 3px;
}

.social-logo {
  padding-top: 4px;
  margin-right: 80px;
}

.logo {
  margin: 5px;
}

.nav_mid {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav_mid_logo {
  margin-left: 20px;
}

#nav_search {
  width: 50vw;
  border-radius: 20px;
}

#nav_button {
  width: 75px;
  border-radius: 16px;
  color: white;
  background-color: #0b7a6c;
}

.nav_mid_search {
  margin-right: 350px;
}

.nav_mid_cart {
  display: flex;
  gap: 25px;
}
.nav_mid_search{
  margin-right: 100px;
}